<configuration scan="true" scanPeriod="45 seconds">

    <!--
    We prefer logging to console instead of a File. Its very easy
    to pipe console output to a file and most organizations already
    have a log rotation setup in place. It can also be faster to use this
    approach vs using a FileAppender directly
    -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <filter class="de.ikor.sip.testframework.workflow.reporting.resultprocessor.TestKitLogbackFilter">
            <loggerName>TestReportLog</loggerName>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <encoder class="de.ikor.sip.foundation.core.translate.logging.SIPPatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}: - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="testkit" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="TestReportLog" level="error">
        <!-- error level to protect from turning log reports off  -->
        <appender-ref ref="testkit"/>
    </logger>
</configuration>